body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  header h1 {
    margin: 0;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
  }
  
  section {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
  }

  section #carrousel{
    all: inherit;
    width: 100%;
  }
  
  section h2 {
    margin-top: 0;
  }
  
  ul {
    margin: 0;
    padding: 0;
  }
  
  li {
    list-style: none;
  }

  #gif-carousel {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    margin-top: 20px;
    flex-basis: 100%;
  }
  
  .carousel::-webkit-scrollbar {
    height: 5px;
  }
  
  .carousel::-webkit-scrollbar-track {
    background-color: #f2f2f2;
    border-radius: 5px;
  }
  
  .carousel::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
  }

  #gif-carousel img {
    width: 100%;
    height: auto;
    margin-right: 10px;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    margin-left: 0;
    margin-right: 0;
  }

  @media (min-width: 768px) {
    .container {
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }